server.log
server.err.log
node_modules/
/node_modules
/dist
/build
/tmp
eng.traineddata
*.png
*.pdf
*.tmp
*.temp
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
logs
.env
.env.development
.env.test
.env.production
Thumbs.db
.DS_Store
